.row.proximos-viajes
    each viaje in viajes
       .col-md-6.col-lg-4-mb-4
           .card
               img.card-img-top(src=`img/destinos_${viaje.imagen}.jpg`)
               .card-body
                   h2= viaje.titulo 
                   p
                       svg.icon.icon-tabler.icon-tabler-calendar-time(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ee9f0c' fill='none' stroke-linecap='round' stroke-linejoin='round')
                           path(stroke='none' d='M0 0h24v24H0z' fill='none')
                           path(d='M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4')
                           circle(cx='18' cy='18' r='4')
                           path(d='M15 3v4')
                           path(d='M7 3v4')
                           path(d='M3 11h16')
                           path(d='M18 16.496v1.504l1 1')
                       | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
                   p
                       svg.icon.icon-tabler.icon-tabler-user(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#ee9f0c' fill='none' stroke-linecap='round' stroke-linejoin='round')
                           path(stroke='none' d='M0 0h24v24H0z' fill='none')
                           circle(cx='12' cy='7' r='4')
                           path(d='M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')
                       | #{viaje.disponibles} Disponibles
                   p= viaje.descripcion.substr(0, 200) + '...'
                   
                   a(href=`viajes/${viaje.slug}`, class="btn btn-success btn-block") Mas informacion